.contact-section {
  max-width: 1200px;
  margin: 0px auto;
  height: 200px;
  background-color: #d5f7e6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  min-width: 570px;
  .contact-info {
    width: 590px;
    height: 63px;
    border: 2px solid red;
    .h2 {
      margin-top: 10px;
      .contact-highlighter {
        color: red;
      }
    }
  }
}
