header {
  .header-content {
    display: flex;
    justify-content: space-between;

    .logo {
      width: 80px;
      height: 80px;
      margin-left: 50px;
      margin-top: 10px;
    }

    .nav-links {
      display: flex;
      align-items: center;
      column-gap: 51px;

      .nav-list,
      .social-media {
        display: flex;
        column-gap: 63px;
      }

      .list-item {
        a {
          color: $secondaryColor;
          font-weight: 800;
          transition: 0.8s ease-in-out;
          &:hover {
            background-color: $primaryColor;
            color: white;
          }
        }
      }

      .social-media {
        column-gap: 20px;

        li {
          transition: 0.3s ease-in-out;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }

    .menu-icon {
      margin-left: 10px;
      width: 50px;
      height: 50px;
      display: none;
    }
  }
}
