main {
  .main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .text-wrapper {
      max-width: 670px;
      min-height: 220px;
    }
    h1 {
      font-size: 58px;
      font-weight: 700;
      line-height: 70px;
      color: $primaryColor;
      margin-left: 50px;
    }

    .img-wrapper {
      img {
        width: 400px;
        height: 400px;
        margin-right: 60px;
      }
    }
  }
}
section {
  .experience-title {
    text-align: center;
    line-height: 30px;
    background-color: white;
  }
  h2 {
    margin: 0px auto;
    color: $secondaryColor;
    font-size: $fontSizeLg;
    font-weight: 800;
  }
  h3 {
    margin: 0px auto;
    color: $secondaryColor;
    font-size: $fontSizeNormal;
    font-weight: 700;
  }
}

.experience-technologies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}
img {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}
